@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

/* ----- Theme -------------------------------------------------------------- */

@theme {
  --color-*: initial;

  /* Color palette */
  --color-primary: #177fbf; /* Primary brand color */
  --color-primary-dark: #0d75bb; /* Darker shade of primary */

  --color-text: #d4d5d7; /* Main text color */
  --color-text-muted: #747983; /* Secondary text */

  --color-background: #1b1d22; /* Main background */
  --color-surface: #2a2c33; /* Surface elements like cards, modals */

  --color-game-background: #1b1d22; /* Game area background */
  --color-game-player1: #3b82f6; /* Player 1 color - blue */
  --color-game-player2: #f43f5e; /* Player 2 color - rose */

  --color-error: #ef4444; /* Error messages */
  --color-warning: #f59e0b; /* Warning messages */
  --color-success: #10b981; /* Success messages */

  /* Font families */
  --font-sans: Inter, sans-serif;
  --font-orbitron: Orbitron, sans-serif;

  /* Animation keyframes */
  --animate-fade-in: fadeIn 0.6s ease-out backwards;
  --animate-slide-up: slideUp 0.6s ease-out backwards;
  --animate-slide-down: slideDown 0.6s ease-out backwards;
  --animate-slide-right: slideRight 0.6s ease-out backwards;
  --animate-slide-left: slideLeft 0.6s ease-out backwards;
}

/* ----- Custom utilities --------------------------------------------------- */

@utility animate-delay-* {
  animation-delay: --value([*]);
}

/* ----- Base styles -------------------------------------------------------- */

@layer base {
  button {
    @apply cursor-pointer;
  }
}

/* ----- Custom classes (overridable by utility classes) -------------------- */

@layer components {
  .button {
    @apply from-primary to-primary-dark flex items-center justify-center gap-2 rounded-xl bg-linear-to-r px-6 py-3 font-bold shadow-lg transition hover:scale-[1.02] hover:shadow-xl active:scale-[0.98];
  }

  .button-secondary {
    @apply bg-surface flex items-center justify-center gap-2 rounded-xl px-6 py-3 shadow-lg transition hover:scale-[1.02] hover:shadow-xl active:scale-[0.98];
  }

  .button-tertiary {
    @apply text-text-muted hover:text-text px-6 py-3 font-bold transition;
  }

  .link {
    @apply text-primary hover:text-primary-dark transition;
  }

  .anim-typewriter {
    @apply invisible;
  }

  .anim-cursor {
    /* The writing anim in done in anims.ts, this css handle the cursor */
    @apply border-text w-fit border-r-2;
    animation: blink-caret 1s step-end infinite;
  }
}

/* ----- Keyframes for animations ------------------------------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-text);
  }
}
