# Note: The cert is mounted in this docker and in all services,
# and used to verify the self-signed cert between caddy and the services

# To reload while the docker is running, run:
# docker exec -w /etc/caddy ft_transcendence-caddy-1 caddy reload

# To test https with services:
# docker exec -it ft_transcendence-caddy-1 /bin/sh
# apk add curl
# curl --insecure https://frontend:3000
# curl --insecure http://frontend:3000
{
	log {
		format console {
			time_format " "
		}
	}
}

https://localhost:8080 {
	reverse_proxy /api/user/* https://user-management:3000 {
		transport http {
			tls
			tls_trust_pool file /certs/cert.pem
		}
	}

	reverse_proxy /api/game/* https://game:3000 {
		transport http {
			tls
			tls_trust_pool file /certs/cert.pem
		}
	}

	reverse_proxy /* https://frontend:3000 {
		transport http {
			tls
			tls_trust_pool file /certs/cert.pem
		}
	}
}
