# To reload while the docker is running, run:
# docker exec -w /etc/caddy ft_transcendance-caddy-1 caddy reload

# To test https with services:
# docker exec -it ft_transcendance-caddy-1 /bin/sh
# apk add curl
# curl --insecure https://frontend:3000
# curl --insecure http://frontend:3000

{
	log {
		format console
		level INFO
	}
}

# TODO remettre https grace a la magie noire
https://localhost:8080 {
	tls /certs/cert.pem /certs/key.pem
	
	# auth, frontend are the docker-compose service names (they are on the same network)
	reverse_proxy /auth/* https://auth:3000 {
		transport http {
			tls
			# the cert is mounted in this docker and all services, and used to verify the self-signed cert
			tls_trusted_ca_certs /certs/cert.pem
		}
	}
	
	# Redirect matches API to auth service
	reverse_proxy /matches/* https://auth:3000 {
		transport http {
			tls
			tls_trusted_ca_certs /certs/cert.pem
		}
	}
	
	# Redirect my-matches and my-stats to auth service
	reverse_proxy /my-matches https://auth:3000 {
		transport http {
			tls
			tls_trusted_ca_certs /certs/cert.pem
		}
	}
	
	reverse_proxy /my-stats https://auth:3000 {
		transport http {
			tls
			tls_trusted_ca_certs /certs/cert.pem
		}
	}

	reverse_proxy /* https://frontend:3000 {
		transport http {
			tls
			tls_trusted_ca_certs /certs/cert.pem
		}
	}
}
